cachetools
certifi
charset-normalizer
click
colorama
dnspython
Flask
Flask-Cors
Flask-RESTful
idna
itsdangerous
Jinja2
MarkupSafe
oauthlib
pyasn1
pyasn1-modules
pymongof
python-dotenv
requests
requests-oauthlib
rsa
urllib3
Werkzeug
